.header {
    padding: 80px;
    text-align: center;
    background: #269faf;
    color: white;
    font-size: 30px;
  }
  .side {
    background-color: #c6eccb;
    font-size: 20px;
    height:400px;
    width:400px;
    float:left;
  }
.content{
  height:400px;
    width:1000px;
    float: right;
    background: #867f7f;
    font-size: 30px;
    margin-left:0px;
    text-align: center;
    }
    .container{
      display: flex;
    }
.footer 
  {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    background: rgb(166, 196, 142);
    clear:both;
  }
  
  